---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  title: string;
  longDescription: string;
  image: ImageMetadata;
  liveLink: string;
  repoLink?: string;
  technologies: string[];
}

const { title, longDescription, image, liveLink, repoLink, technologies } =
  Astro.props;
---

<div
  class="project-page-container text-gray-800 max-w-4xl max-[640px]:w-full max-[640px]:max-w-full mx-auto px-4 sm:px-6 lg:px-8 pt-6 pb-20"
>
  <header class="mb-8 text-left">
    <div
      class="w-full flex justify-end bg-[#f1f2f5] py-3 ms-auto text-xl max-[660px]:text-lg max-[382px]:text-base transition-all duration-300 mb-8"
    >
    <a
          href="/"
          target="_self"
          class="flex items-center gap-2 animate__animated animate__zoomIn animate__delay-2s animate__fast cursor-pointer rounded-xl hover:text-[#2d5d54] transition-colors duration-300 border-2 border-solid border-transparent max-[382px]:px-2 max-[382px]:py-0.5"
          >Volver al inicio
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-left-short w-8 h-8"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"
            ></path>
          </svg>
        </a>
    </div>

    <h1 class="text-5xl max-[640px]:text-4xl max-[500px]:text-3xl font-medium mb-4 animate__animated animate__fadeIn">
      {title}
    </h1>
    
    <div class="flex flex-wrap mt-4 animate__animated animate__fadeIn">

      <h2 class="text-md inline max-[896px]:w-full max-[896px]:mb-2 mr-2">Tecnologías utilizadas:</h2>
      <div class="flex flex-wrap items-center gap-2">
        {
          technologies.map((tech) => (
            <span class="bg-gray-200 rounded-full px-3 py-1 text-sm font-medium">
              {tech}
            </span>
          ))
        }
      </div>

    </div>

  </header>

  <a href={liveLink} target="_blank" rel="noopener noreferrer">
    <Image
      src={image}
      alt={`Imagen del proyecto ${title}`}
      class="rounded-lg shadow-lg w-full h-auto animate__animated animate__fadeIn animate__delay-1s"
    />
  </a>

  <main>
    <section class="my-8">
      <div class="w-full flex justify-start gap-5 max-[640px]:justify-center max-[500px]:flex-col max-[500px]:items-center max-[500px]:gap-2">
        <a
          href={liveLink}
          target="_blank"
          rel="noopener noreferrer"
          class="mb-4 w-fit lets-talk rounded-full bg-[#2c7c6e] hover:bg-[#2d5d54] hover:scale-105 transition-all text-white px-6 py-2 animate__animated animate__fadeIn animate__delay-1s flex gap-2 items-center"
        >
          <span
            class="text-xl relative bottom-0.5 max-[660px]:text-lg max-[382px]:text-base"
            >Ver proyecto
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="#fff"
            class="bi bi-link-45deg w-8 h-8 ms-1"
            viewBox="0 0 16 16"
          >
            <path
              d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"
            ></path>
            <path
              d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"
            ></path>
          </svg>
        </a>

        {
          repoLink && (
            <a
              href={repoLink}
              target="_blank"
              rel="noopener noreferrer"
              class="mb-4 w-fit lets-talk rounded-full bg-[#202020] hover:bg-[#000000] hover:scale-105 transition-all text-white px-6 py-2 animate__animated animate__fadeIn animate__delay-1s flex gap-2 items-center"
            >
              <span class="text-xl relative bottom-0.5 max-[660px]:text-lg max-[382px]:text-base">
                Visitar repositorio
              </span>
              <svg
                fill="#fff"
                xmlns="http://www.w3.org/2000/svg"
                class="transition-colors duration-300 bi bi-github w-8 h-8 ms-1"
                width="16"
                height="16"
                viewBox="0 0 16 16"
              >
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
              </svg>
            </a>
          )
        }
      </div>
      <h2
        class="text-3xl max-[640px]:text-2xl font-semibold mt-2 mb-4 border-b-2 border-gray-200 pb-2 animate__animated animate__fadeIn animate__delay-1s"
      >
        Sobre el proyecto
      </h2>
      <p class="text-lg max-[640px]:text-base leading-relaxed animate__animated animate__fadeIn animate__delay-1s">{longDescription}</p>
    </section>
  </main>
</div>

<style is:global>
  body {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>