---

interface Props {
  title: string;
  description: string;
  image: string;
  link: string;
  delay: string;
}

const {
  title,
  description,
  image,
  link,
  delay,
} = Astro.props;

---

<div class="card-proyect overflow-clip w-[380px] flex flex-col justify-center bg-white rounded-2xl animate__fast animate-on-view 
max-[820px]:w-[480px] max-[524px]:w-[390px] max-[440px]:w-[360px] max-[392px]:w-[320px] max-[348px]:w-[280px]" data-aov-animation="animate__zoomIn">
  <img src={image} alt={`Imagen del proyecto: ${title}`} class="rounded-t-2xl h-[260px] object-cover" />
  <div class="px-4 py-3 flex flex-col">
    <h2 class="text-xl font-medium m-0 text-start">{title}</h2>
    <p class="text-base m-0 h-[90px]">{description}</p>
    <a href={link} target="_blank" class="mt-8 w-full text-center text-lg font-medium lets-talk font-lora rounded-full bg-[#2d5d54] hover:bg-[#3e8b7d] transition-colors text-white px-4 py-2">
      Visitar
    </a>
  </div>
</div>

<style>
  .card-proyect img {
    transition: all 0.3s ease;
    filter: grayscale(100%) contrast(80%);
  }

  .card-proyect:hover img {
    filter: grayscale(0) contrast(100%);
  }
</style>



