---
import "../styles/global.css";
import Footer from "../views/shared/Footer.astro";

interface Props {
  title: string;
  metaTitle: string;
  description: string;
  keywords: string;
}

const {
  title,
  metaTitle,
  description,
  keywords
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="title" content={metaTitle} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="/css/animate_config.css" />
    <link rel="canonical" href="https://www.manuelsamaniego.com.mx/">
  </head>
  <body class="rubik">
    <slot />
    <Footer />
  </body>
</html>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        background-color: #f1f2f5;
    }
</style>

<script>
  import { startAnimateOnView } from '../scripts/animate-on-view';
  startAnimateOnView();
</script>